.status{
    width: 50px; 
    height: 30px; 
    text-align: center;
    color: white;
    padding-top: 2px;
    padding-left:3px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
  
.background-Sale {
  background-image: url('./assets/img/Sale.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}
/* App.css */
.css-ijwub5-MuiTypography-root{display: none;}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}
.btn {
  position: relative;
  padding: 15px 20px 10px 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 3px;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  border: solid 2px #222222;
  background-color: transparent;
  color: #222222;
  cursor: pointer;
  overflow: hidden;
  z-index: 1; 
  letter-spacing: 2px;
  white-space: nowrap;
}

.spn {
  background-color: #222222;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1; 
}

.btn:hover .spn{
  height: 100%;
  color: white;
}
.btn:hover{
  color: white;
  border: solid 2px white;
}
.blk{
  color: white;
  background-color: #222222;
}

.bl{
  background-color: #5EC1A1;
}

.css-1uwp4ue-MuiBreadcrumbs-ol,.css-lc31tn{
  display: none !important;
}
.blog-tags .css-cfd5wn-MuiListItem-root {
width: auto !important;
}